google-auth
google-cloud-logging
google-cloud-storage
google-cloud-aiplatform
 
gunicorn
uvicorn[standard]
aiohttp
requests
jsonlines
ruff
setuptools
fastapi
pandas
numpy
db-dtypes
psycopg2
langchain_google_vertexai
langchain_postgres
langchain_core
langchain_google_genai